.App {
  background-color: rgb(224, 219, 219);
  min-height: 650px;
  padding: 10px;
}

.container {
  display:flex;
 
  background-color: rosybrown;
    padding: 20px;
    margin: 35px;
    width: 90%;
    border-radius: 10px;
    text-align: center;

}

.title {
  width:100%;
  text-align: center;
  font-size: larger;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.new-task {
  size: 90%;
  width: 100%;
  align-self: center;
  
}

.group-title {
  display:flex;
  flex-direction: row;
  gap: 20px;
}