.App {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(224, 219, 219);
  min-height: 650px;
  padding: 10px;
  margin: 40px;
  border-radius: 10px;
  width: 90%;
  text-align: center;
  flex-direction: column;
}

.title {
  width:100%;
  text-align: center;
  font-size: larger;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: blue;
}

.new-task {
  size: 90%;
  width: 100%;
  align-self: center;
  
}

.group-title {
  padding: 10px;
  display:flex;
  flex-direction: row;
  gap: 20px;
  align-self: center;
}

.tasks-list {
  margin: 15px;
}